html, body { overflow-x: hidden; }

#wpadminbar{
  display: none!important
}

body{
  padding-top:100px;
}

body,h1,h2,h3,h4,h5,h6,span,p,a,div,li{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.font-size-13px{
  font-size: 13px!important;
}

.rounded-xxl{
  border-radius: 20px!important
}

input[type="text"],textarea{
  border:none;
  background: #fff;

  padding: 5px;
  margin-bottom: 15px;
  outline: none;

}

h1{
  margin: 0px;
  padding: 50px 0px;
  font-size: 28px;
}

h2{
  margin: 0px;
  padding: 20px 0px;
  font-size: 22px;
}

#footer{
  margin-top: 100px;
}

#footer input[type="text"], #footer textarea{
  display: block;
  width: 100%
}

#footer label{
  font-size: 12px;
}

#footer input[type="checkbox"]{
  display: inline-block;
  margin-right: 5px;
}

#footer .footer-bottom a{
  color: #171818;
  font-size: 13px;
}

.rounded-xl{
  border-radius: 10px;
}

.bg-ligh{
  background-color:#f6f6f3!important;
}


.gracci-blue{
  color:#0090d7;
}

.gracci-blue-bg{
  background-color:#0090d7!important;
}



.footer-box{
  border-color: #c7c7c7;
}

.footer-box .col-9 span{
  font-size: 12px;
  color: #c7c7c7;
  white-space: nowrap;
}

.footer-box .col-9 p{
  font-weight: 700;
  font-size: 14px;
  margin:0px;
  line-height: 16px;
}



.navbar ul li a{
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  font-size: 13px;
}

.front-page-hero{
  height: 780px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


.front-page-points{
  margin-top:-100px;
  margin-bottom: 40px;
}

.front-page-points .front-page-point{
  height: 240px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  display: inline-block;
  width: 100%;
  padding: 75px 0px 0px 20px;
}

.front-page-points .front-page-point p{
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px;
}

.front-page-points .front-page-point a{
  color: #000;
}

.section-title{
  height: 60px;
  padding-top:15px;
  margin: 40px 0px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;

}



.section-title span{
  font-weight: 700;
  color: #fff;
  font-size: 28px;
  text-transform: uppercase;
}

.front-page-news{
  text-align: center;
  border: 1px solid #e2e1df;
  border-radius: 10px;
  padding:10px;
  background: #fff;
}

.front-page-news span{
  color: #7d848d;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}

.front-page-news p{
  font-size: 13px;
  color: #0090d7;
  margin: 10px 0px;
}

.front-page-news a{
  color: #7d848d;
  text-transform: uppercase;
}



.classes-program{

  padding-top: 100px;
  margin-top: -185px;
  text-align: center;
}

.classes-program .classes-program-content{
  position: relative;
  height: 800px;
  width: 800px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.classes-program .classes-program-content .classes-program-item{
  display: block;
  position: absolute;
  width: 160px;
}

.classes-program .classes-program-content .classes-program-item span{
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700
}

.classes-program .classes-program-content .classes-program-item p{
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  color: #6d6e71;
  font-weight: 700
}


.all-classes-btn{
  display: inline-block;
  height: 80px;
  width: 280px;
  color: #fff;
  text-transform: uppercase;
  padding-top: 15px;
  margin-top: 60px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  font-weight: 700;
  font-size: 14px;
  margin: 60px 0px;

}

.all-classes-btn:hover{
  text-decoration: none;
}

.all-classes-btn img{
  height: 30px;
  margin-right: 5px;
}


.pre-navbar{

}

.pre-navbar ul li{
  color: #000;
  font-size: 12px;
}

.pre-navbar ul li a{
  color: #000;
}

#about-us-page{
  position: relative;
  height: 1200px;
  width: 1200px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

#about-us-page h1{
  position: absolute;
  top: 215px;
  left: 105px;
  width: 160px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 28px;
}

#about-us-page h2{

  position: absolute;
  top: 485px;
  left: 120px;
  width: 140px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;


}


#about-us-page  h3{
  display: block;
  position: absolute;
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

#about-us-page  h3:first-of-type{
  top: 195px;
  left: 655px;

}


#about-us-page  h3:nth-of-type(2){
  top: 435px;
  left: 630px;
}

#about-us-page  h3:nth-of-type(3){
  top: 695px;
  left: 655px;
}

#about-us-page  h3:nth-of-type(4){
  top: 938px;
  left: 650px;
}

#about-us-page p{
  display: block;
  position: absolute;
  font-size: 15px;
  line-height: 18px;
}

#about-us-page p:first-of-type{
  top: 165px;
  left: 870px;
  width: 250px;
}

#about-us-page p:nth-of-type(2){
  top: 412px;
  left: 852px;
  width: 190px;
}

#about-us-page p:nth-of-type(3){
  top: 653px;
  left: 860px;
  width: 269px;
  line-height: 20px;
}

#about-us-page p:nth-of-type(4){
  top: 923px;
  left: 855px;
  width: 175px;
}


.page-cover{
  width: 100%;
}

.wp-post-image{
  width: 100%;
  height: auto!important;
}

.list-page{
  text-transform: uppercase;
}

.list-page .list-page-icon{
  height: 60px;
  margin-top: 45px;
}

.list-page ul{
  list-style: none; /* Remove default bullets */
  padding: 0px;
  margin-left: 25px;
}

.list-page ul li{
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 25px;
}

.list-page ul li:before{
  content:  "\f0c8";
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  width: 1em;
  margin-left: -25px;
  margin-right: 10px;

}

.list-page h1, .list-page h2, .list-page.h3{
  font-weight: 700;
}

.list-page h1{
  font-size: 24px;
}

.list-page h2{
  font-size: 18px;
}

.list-page .scientist{
  height: 320px;
  display: block;
  margin-bottom: 50px;
}

.file-box{
  display: inline-block;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.file-box:hover{
  text-decoration: none;
}

.file-box img{
  height: 25px;
  display: inline-block;
  margin-right: 10px;
}

.laboratories-tabs{
  display: inline-block;
  height: 1000px;
  width: 800px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  position: relative;
  margin-bottom: 230px;
}

.laboratories-tabs h2{
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  width: 100px;
  font-size: 28px;
  font-weight: 700;
}

.laboratories-tabs h2 a{
  color:#fff;
}

.laboratories-tabs h2 a:hover{
  color:#fff;
  text-decoration: none;
}

.laboratories-tabs p{
  position: absolute;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  width: 310px;
  text-align: right;
  line-height: 30px;
}

.laboratories-tabs p a{
  color: #000;
  display: block;
}

.laboratories-tabs p a:hover{
  text-decoration: none;
}


.laboratories-tabs h2:nth-of-type(1){
  top:40px;
  left:40px;
}
.laboratories-tabs h2:nth-of-type(2){
  top:40px;
  left:460px;
}
.laboratories-tabs h2:nth-of-type(3){
  top:540px;
  left:40px;
}
.laboratories-tabs h2:nth-of-type(4){
  top:540px;
  left:460px;
}


.laboratories-tabs p:nth-of-type(1){
  top:180px;
  left: 45px;
}
.laboratories-tabs p:nth-of-type(2){
  top:180px;
  left: 465px;
}
.laboratories-tabs p:nth-of-type(3){
  top:680px;
  left: 45px;
}
.laboratories-tabs p:nth-of-type(4){
  top:680px;
  left: 465px;
}

.laboratories-tabs .scientist{
  top:1040px;
  left: 290px;
  height: 320px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: absolute;
}

#lab_file_0{
  position: absolute;
  top: 1000px;
  left: 145px;

}

#mobile_lab_file_0{
    border-color: #ffa30e;
}

#lab_file_1{

  top: 1070px;
  right: 55px;
  position: absolute;
}

#mobile_lab_file_1{
  border-color: #87b43d;
}

#lab_file_2{


  top: 1000px;
  right: 40px;
  position: absolute;
}

#mobile_lab_file_2{
  border-color: #87b43d;
}

.consulency{
  display: inline-block;
  height: 1000px;
  width: 800px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative;
}

.consulency .icon{
  display: block;
  position: absolute;
}

.consulency .icon img{
  height: 50px;
  filter: brightness(0);
}

.consulency .icon:nth-of-type(1){
  top: 120px;
  left: 85px;

}


.consulency .icon:nth-of-type(2){
  top: 120px;
  left: 385px;
}

.consulency .icon:nth-of-type(3){
  top: 120px;
  left: 660px;
}

.consulency .icon:nth-of-type(4){
  top: 730px;
  left: 140px;
}

.consulency .icon:nth-of-type(5){
  top: 730px;
  left: 595px;
}



.consulency h2, .consulency h3{
  display: block;
  position: absolute;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.consulency h3 a{
  color: #fff;
}

.consulency h3 a:hover{
  text-decoration: none;
}

.consulency h3{
  font-size: 15px;
  width: 150px;

}

.consulency h2{
  font-size: 30px;
  width: 300px;
  top: 470px;
  left: 240px;

}


.consulency h3:nth-of-type(1){
  top: 210px;
  left: 30px;
}

.consulency h3:nth-of-type(2){
  top: 210px;
  left: 325px;
}

.consulency h3:nth-of-type(3){
  top: 210px;
  left: 615px;
}

.consulency h3:nth-of-type(4){
  top: 810px;
  left: 85px;
  width: 170px;
}

.consulency h3:nth-of-type(5){
  top: 810px;
  left: 555px;
}

.consulency .scientist{
  height: 300px;
  width: 180px;
  position: absolute;
  bottom: -100px;
  left: 260px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.training{
  display: inline-block;
  height: 575px;
  width: 800px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative;
  margin-bottom: 400px;
}


.training h2{
  text-transform: uppercase;
  position: absolute;

  text-align: center;
}

.training h2:nth-of-type(1){
  color: #ab4a9c;
  top: 30px;
  left: 490px;
  width: 210px;
}

.training h2:nth-of-type(1) span:first-of-type{
  float: left;
  font-size: 50px;
  font-weight: 900;
}

.training h2:nth-of-type(1) span:last-of-type{
  font-size: 16px;
}

.training h2:nth-of-type(2){
  color: #ed1164;
  top: 205px;
  left: -42px;
  width: 210px;
}

.training h2:nth-of-type(2) span:first-of-type{
  float: left;
  font-size: 48px;
  font-weight: 900;
}

.training h2:nth-of-type(2) span:last-of-type{
  font-size: 16px;
}

.training h2:nth-of-type(3){
  text-align: left;
  color: #00aaad;
  width: 250px;
  top: 385px;
  left: 270px;
}

.training h2:nth-of-type(3) span:first-of-type{
  float: left;
  font-size: 48px;
  font-weight: 900;
}

.training h2:nth-of-type(3) span:last-of-type{
  font-size: 16px;
}

.training .all-classes-btn {
  top: 640px;
  left:260px;
  position: absolute;
  padding-left: 40px;
  padding-top: 18px;
}

.post-training-row{
  margin-top: -100px;
}

.post-training-row .training-box{
  height: 320px;
  width: 240px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative;
  padding: 40px 30px 0px 30px;
  font-size: 13px;
  text-align: center;
  font-weight: 700;
  line-height: 22px;

}

.post-training-row .scientist{
  position: absolute;
  display: block;
  height: 400px;
  left: -25px;

}



.contacts .contacts-icon{
  height: 60px;
  width: 60px;
  display: inline-block;
  line-height: 60px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  background-color: #5bb8f8;
  border-radius: 50%;
  margin-bottom: 50px;
}

.contacts-form{
  text-align: center;
  margin-bottom: 50px;
  display: block;
  position: relative;
}

.contacts-form p{
  font-size: 12px;
  text-align: left;
}

.contacts-form label{
  margin: 10px 0px;
}

.contacts-form input[type="checkbox"]{
  display: inline-block;
  width: auto;
}

.contacts-form input, .contacts-form textarea{
  display: block;
  width:100%;
  border: none;
  background: #fff;
}

.contacts-form button{
  color: #fff;
  border: none;
  text-transform: uppercase;
  background-color: #5bb8f8;
  display: inline-block;
  padding: 10px;
}

.contacts p{
  font-size: 13px;
}

.contacts-form .scientist{
  position: absolute;
  height: 320px;
  display: block;
  top: 0px;
  right: -100px;
}


.modal-body.with-scientist{
  position: relative;
}

.modal-body.with-scientist .scientist{
  height: 240px;
  position: absolute;
  bottom: 0px;
  display: block;
}


.modal-body.with-scientist .fancy-col{
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.modal-title{
  color: #5ab0ff !important;
}

.navbar ul li a.dropdown-item {
  text-align: left;
  color: #393939;
  text-transform: uppercase;
  border-top: 1px solid #f1f1f1;
  font-size: 12px;
  padding: 10px 10px;
}

.navbar ul li a.dropdown-item:hover{
  color:#7cb6ff
}

.navbar-nav .dropdown-menu{
  padding: 15px;
  border: none;
  border-radius: 0px;
}

.dropdown:hover .dropdown-content {display: block;}

.awards{
  margin-top: 100px;
}

#menu-main-menu li.menu-item-158{
  border: 1px solid #549fff!important;
    padding: 5px 10px;

}

#menu-main-menu li.menu-item-158 a{
  color: #549fff!important;
}

.menu-item.active > a{
  color:#549fff!important;
}

.classes-program-content-mobile{

}

.classes-program-content-mobile img{
  height: 90px;
}

.classes-program-content-mobile{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
}

#about-us-page-mobile{

}

#about-us-page-mobile h2{
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  font-weight: 600;
  text-transform: uppercase;
  height: 600px;
  padding-top: 125px;
padding-left: 95px;
padding-right: 95px;
}

#about-us-page-mobile h3{
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  height: 150px;
  padding-top: 60px;
  text-transform: uppercase;
  font-size: 20px;
}

#about-us-page-mobile p{
  font-size: 14px;
  font-weight: 600;
  padding: 0px 10px;
}

.dashed-separator{
  height: 50px;
  display: inline-block;
  border-right: 2px dashed #999;
  width: 4px;
  margin: 10px 0px;

}


.laboratories-tab-mobile{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 320px;
  margin-bottom: 20px;
  padding-left: 60px;
  width: 360px;
}

.laboratories-tab-mobile h2{
  text-transform: uppercase;
  color: #fff;
  width: 200px;

}

.laboratories-tab-mobile h2 a{
  color: #fff;
}

.laboratories-tab-mobile p{
  padding-left: 25px;
  font-size: 13px;
  width: 260px;
  padding-top: 10px;
}

.laboratories-tab-mobile p a{
  color: #000;
}


.consulency-mobile{
  text-align: center;
}

.consulency-mobile .consulency-box{
  border-radius: 30px;
  padding: 20px;
  margin: 20px 0px;
  width: 60%;
  display: inline-block;

}

.consulency-mobile .consulency-box img{
  height: 50px;
  filter: brightness(0);
}

.consulency-mobile .consulency-box h3{
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}


.mobile-training{
  height: 665px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  position: relative;
  text-align: center;
}



.mobile-training h2{
  text-transform: uppercase;
  display: inline-block;

  text-align: center;
}

.mobile-training h2:nth-of-type(1){
  color: #ab4a9c;
  margin-top: 70px;
  width: 210px;
}

.mobile-training h2:nth-of-type(1) span:first-of-type{
  float: left;
  font-size: 50px;
  font-weight: 900;
}

.mobile-training h2:nth-of-type(1) span:last-of-type{
  font-size: 16px;
}

.mobile-training h2:nth-of-type(2){
  color: #ed1164;
  margin-top: 110px;
  width: 210px;
}

.mobile-training h2:nth-of-type(2) span:first-of-type{
  float: left;
  font-size: 48px;
  font-weight: 900;
}

.mobile-training h2:nth-of-type(2) span:last-of-type{
  font-size: 16px;
}

.mobile-training h2:nth-of-type(3){
  text-align: left;
  margin-top: 115px;
  color: #00aaad;
  width: 250px;

}

.mobile-training h2:nth-of-type(3) span:first-of-type{
  float: left;
  font-size: 48px;
  font-weight: 900;
}

.mobile-training h2:nth-of-type(3) span:last-of-type{
  font-size: 16px;
}

.mobile-training-info{
  background: #fff;
  border-radius: 30px;
  padding: 20px;
  margin: 40px 0px;
  display: inline-block;
  width: 320px;
}

.mobile-training-info p{
  border: 2px solid #e7e7e7;
  padding: 20px;
  margin-bottom: 0px;
  border-radius: 30px;
  padding-bottom: 80px;
}

.mobile-training-scientist{
  text-align: center;
  margin-top: -100px;

}

.mobile-training-scientist img{
  margin-bottom: 40px;
}

.navbar-wrapper{
  width: 100%;
}


@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {


  #about-us-page{
    width: 100%
  }

  #about-us-page h1{
    position: absolute;
    top: 270px;
    left: 80px;
  }

  #about-us-page h2{
    position: absolute;
    top: 500px;
    left: 85px
  }


  #about-us-page  h3{
    display: block;
    position: absolute;
  }

  #about-us-page  h3:first-of-type{
    top: 260px;
    left: 540px;

  }


  #about-us-page  h3:nth-of-type(2){
    top: 460px;
    left: 520px;
  }

  #about-us-page  h3:nth-of-type(3){
    top: 675px;
    left: 540px;
  }

  #about-us-page  h3:nth-of-type(4){
    top: 880px;
    left: 535px;
  }

  #about-us-page p{
    display: block;
    position: absolute;
    font-size: 13px;

  }

  #about-us-page p:first-of-type{
    top: 230px;
    left: 710px;
    width: 230px;
  }

  #about-us-page p:nth-of-type(2){
    top: 433px;
    left: 704px;
    width: 160px;
  }

  #about-us-page p:nth-of-type(3){
    top: 638px;
    left: 710px;
    width: 230px;
    line-height: 18px;
  }

  #about-us-page p:nth-of-type(4){
    top: 863px;
    left: 700px;
    width: 160px;
  }


}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {

  .classes-program{

  }

}
